<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0" user-scalable="yes" />
    <title>{{name}}, welcome to LiveDemo 🎉</title>
    <style>
        .mlContentTable {
            width: 560px;
        }
        .mlContentTable ol ol {
            list-style-type: lower-alpha;
        }
        .mlContentTable ol ol ol {
            list-style-type: lower-roman;
        }
        @media only screen and (max-width: 480px) {
            .mlContentTable{ width:100%!important; }
            img{ width:100%!important; height:auto!important; }
            img.open_img{ width:1px!important; height:1px!important; }
        }
    </style>
</head>

<body>
<table border="0" class="mlContentTable" cellpadding="0" cellspacing="0" style="max-width: 560px;">
    <tr>
        <td style="font-size: 15px; line-height: 22.5px; font-family: Arial;">
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; ">Hi {{name}} 👋 Thanks for signing up to LiveDemo.</p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; ">My name is George Apostolov, and I'm one of the founders of this project.</p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; ">We decided to create this demo creation tool because we noticed that startups and SaaS companies become more and more complex and they require better product demos.</p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; "> </p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; "><strong>LiveDemo will help you:</strong></p>
            <ul>
                <li>Differentiate your product demo from the competitors ✅</li>
                <li>Capture hot leads within your product ✅</li>
                <li>Ultimately sell your product with your product ✅</li>
            </ul>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; "> </p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; ">It is better to see once than to hear a hundred times.</p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; "> </p>            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; "> </p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; ">The best way to get started is by following our <a href="https://livedemo.ai/blog/capture-and-edit-product-demo/" target="_blank"style="color: #810000;"><span style="color: #810000;">How to capture and edit product demo guide</span></a>.</p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; "> </p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; ">If you have any questions, just reply to this email I'd like to help you 🤝 </p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; "> </p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; ">Have a nice day!</p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; ">George Apostolov</p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; "> </p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; "> </p>
            <hr style="color: #ccc; background-color: #ccc; height: 1px; border: 0; margin: 15px 0px 20px 0px; " />
            <h6 style="font-size: 11px; font-weight: normal; line-height: 150%; margin-bottom: 10px;margin-top: 0px; "><strong>LiveDemo</strong> | <a href="{{unsubscribeUrl}}" style="color: inherit; text-decoration: underline;">Unsubscribe</a></h6>
        </td>
    </tr>
</table>
</body>

</html>
