<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0" user-scalable="yes" />
    <title>LiveDemo Video has been created! 🎉</title>
    <style>
        .mlContentTable {
            width: 560px;
        }
        .mlContentTable ol ol {
            list-style-type: lower-alpha;
        }
        .mlContentTable ol ol ol {
            list-style-type: lower-roman;
        }
        @media only screen and (max-width: 480px) {
            .mlContentTable{ width:100%!important; }
            img{ width:100%!important; height:auto!important; }
            img.open_img{ width:1px!important; height:1px!important; }
        }
    </style>
</head>

<body>
<table border="0" class="mlContentTable" cellpadding="0" cellspacing="0" style="max-width: 560px;">
    <tr>
        <td style="font-size: 15px; line-height: 22.5px; font-family: Arial;">
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; ">Your <strong>{{demoName}}</strong> LiveDemo Video has been created! 🎉</p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; ">Check it out below</p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; "><strong>Video and GIF:</strong></p>
            <ul>
                <li>
                    <p>Video -
                        <a href="{{videoUrl}}" target="_blank"style="color: #810000;">
                            <span style="color: #810000;">
                            link
                            </span>
                        </a>
                    </p>
                </li>

                <li>
                    <p>GIF (Could be sent in Emails) -
                        <a href="{{gifUrl}}" target="_blank"style="color: #810000;">
                            <span style="color: #810000;">
                            link
                            </span>
                        </a>
                    </p>
                </li>
            </ul>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; "> </p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; ">If you have any questions, just reply to this email I'd like to help you 🤝 </p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; "> </p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; ">Have a nice day!</p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; ">George Apostolov</p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; "> </p>
            <p style="line-height: 150%; margin-top: 0px; margin-bottom: 10px; padding: 0px; "> </p>
            <hr style="color: #ccc; background-color: #ccc; height: 1px; border: 0; margin: 15px 0px 20px 0px; " />
            <h6 style="font-size: 11px; font-weight: normal; line-height: 150%; margin-bottom: 10px;margin-top: 0px; "><strong>LiveDemo</strong> | <span style="text-decoration: underline">to Unsubscribe - just email me </span>|
        </td>
    </tr>
</table>
</body>

</html>
